* { box-sizing: border-box; margin: 0; padding: 0; }

html {
  font: 100%/1.5 sans-serif;
  background: #fafbfc;
  color: #222;
  padding: 1.5em;
}

header {
    text-align: center;
    margin-bottom: 2em;
}

main {
    margin: 0 auto; 
    max-width: 80vw;
}

footer {
    text-align: center;
    margin-top: 2em;
    font-size: 0.8em;
    color: #666;
}


a { color: #fa6432; text-decoration: none; }
a:hover, a:focus { text-decoration: underline; }

pre, code {
  background: #eee;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-family: monospace, monospace;
}



/* 
Index page styles 
 */
.blog-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}


/* #region Blog post styles */
/*
Blog post styles
 */
.blog-post {
    padding: 2em 2.5em;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

.blog-post h1 {
    font-size: 2.2em;
    font-weight: 700;
    margin-bottom: 0.2em;
    color: #222;
    letter-spacing: -1px;
    line-height: 1.1;
}

.blog-post .date {
    font-size: 0.95em;
    color: #888;
    margin-bottom: 1em;
    font-style: italic;
}

.blog-post .content {
    font-size: 1.1em;
    line-height: 1.7;
    color: #222;
}

.blog-post p {
    margin: 1.2em 0; 
    line-height: 1.6;
}

.blog-post img {
    max-width: 80%;
    border-radius: 60px;
    margin: 1em auto;
    display: block;
}

.blog-post pre {
    background: #f5f5f7;
    color: #222;
    padding: 1em;
    border-radius: 5px;
    overflow-x: auto;
    font-size: 1em;
    margin: 1.2em 0;
}

.blog-post code {
    background: #f0f0f0;
    color: #c7254e;
    border-radius: 3px;
    padding: 0.2em 0.4em;
    font-size: 0.97em;
}

/* #endregion Blog post styles */